@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #f1f2f6;
    opacity: 0.7;
    /* margin-left: 101px; */
}

.warning{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #ff793f;
    opacity: 0.7;
    /* margin-left: 101px; */
}

.textWrapper{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.textInnerWrapper {
    width: 820px;
    display: inline-block;
    margin: 0 auto;
}

.profileImage {
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 300px;
    height: 300px;
  }
  
  .photoContainer {
    display: flex;
    justify-content: center;
  }

  .ldsSpinner {
    border: 16px solid #353b48; /* Light grey */
    border-top: 16px solid #74b9ff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
  }

  .spinnerContainer{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25px;
  }

  .ldsSpinnerSmall {
    border: 7px solid #353b48; /* Light grey */
    border-top: 7px solid #74b9ff; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




  .file {
    opacity: 0;
    width: 160px;
    height: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
  }
  
  .fileInput label {
    display: block;
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
  }
  
  .fileInput input:hover + label,
  input:focus + label {
    transform: scale(1.02);
  }
  
  .fileInput input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }
  
  .fileame {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
  }
  
  .imageUploadCont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }