@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.Navbar {
    background: #282c34;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    z-index: 10;
}

.profile{
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 70px;
}


@media screen and (max-width: 768px) {
    .Bars {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}


.NavLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.NavLink:active {
    color: #88bdbc;
}

.NavBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}

@media screen and (max-width: 768px){
    .NavBtn {
        display: none;
    }
}

.NavBtnLink {
    border-radius: 10px;
    background: #88bdbc;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 1rem;
}

.NavBtnLink:hover {
    transition: all 0.2s ease-in-out;
    background: #05c46b;
    color: #fff;
}

.LogoutScreen {
    background-color:#282c34;
    opacity: 0.9;
    min-width: 220px;
    min-height: 80px;
    position:absolute;
    right: 0px;
    /* margin-left: 86%; */
    top:68px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius:5px;
    z-index: 10;
}

.LogoutScreen-display {
    background-color:#487eb0;
    min-width: 200px;
    min-height: 200px;
    position:absolute;
    margin-right: 0px;
    margin-left: 86%;
    margin-top:0px;
}


.listContainer{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color:black;
    margin-top:5px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:3px;
    border-radius:8px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    cursor: pointer;
}


.listContainer:hover{
    background-color: #54a0ff;
    color: #fff;
}

.listContainer p {
    margin: 7px;
}