.Backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    /*this is needed to make it appear over other components but nor the Modal one*/
    z-index: 100;
    left: 0;
    top: 0;
    /* background-color: rgba(59, 60, 61, 0.7); */
    background-color: rgba(116, 185, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ldsSpinner {
    border: 16px solid #353b48;
    border-top: 16px solid #74b9ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    z-index: 10;
  }

  .ldsSpinnerSmall {
    border: 7px solid #353b48;
    border-top: 7px solid #74b9ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }