.inputField {
    padding:10px;
    margin-bottom: 20px;
    border:none;
    /* width: 800px; */
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color: #485460;
    color: #fff;
}

.inputFieldWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputFieldWrapperChild{
    display: flex;
    flex-direction: column;
}

.fieldLabel {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #f1f2f6;
    opacity: 0.7;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.5; /* Firefox */
  }