@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

.textBox {
  height: 35px;
  background-color: #3c6382;
  border-radius: 4px;
  width: 300px;
}

.textBoxLabel {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #f1f2f6;
  opacity: 0.7;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 3px;
}